POSTGRES_DB=your_db
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_HOST=your_host
POSTGRES_PORT=your_port

REDIS_HOST=redis
REDIS_PORT=6379

API_PORT=8000

RADIUS_SECRET=your_radius_secret
